### ToyModels folder ###
ToyModels/build/bin/**
ToyModels/*.pyc
ToyModels/*.a
ToyModels/cmake/CmakeFiles/
ToyModels/cmake/CMakeCache.txt
ToyModels/cmake/cmake_install.cmake
ToyModels/cmake/Makefile
ToyModels/cmake/Config.h
ToyModels/example/**
ToyModels/!example/run.sh
ToyModels/!example/ancestor
ToyModels/!example/best
ToyModels/!example/parameters
ToyModels/!example/population
ToyModels/example/ancestor/**
ToyModels/example/best/*
ToyModels/example/parameters/*
ToyModels/example/population/*
ToyModels/*test

### Holzhutter2004 folder ###
Holzhutter2004/build/bin/**
Holzhutter2004/*.pyc
Holzhutter2004/*.a
Holzhutter2004/cmake/CmakeFiles/
Holzhutter2004/cmake/CMakeCache.txt
Holzhutter2004/cmake/cmake_install.cmake
Holzhutter2004/cmake/Makefile
Holzhutter2004/cmake/Config.h
Holzhutter2004/example/**
Holzhutter2004/!example/run.sh
Holzhutter2004/!example/generate_figures.sh
Holzhutter2004/!example/EVOLUTION_RATE.R
Holzhutter2004/workflow/**

